@import url("https://use.typekit.net/ytk4lns.css");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  src: url("../fonts/Dyer Arts and Crafts.ttf");
  font-family: "Dyer";
}

.emphasize-pink {
  color: #bf97a1;
  text-decoration: underline;
  font-weight: 500;
}

body {
  font-family: futura, sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #444;
}

.overlay {
  opacity: 0;
  display: none;
  position: fixed;
  background: #27352a;
  width: 100%;
  height: 100%;
  z-index: 100;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.overlay.showoverlay {
  opacity: 0.6;
}

header {
  height: 100vh;
  background: url("../media/header_bg.jpeg");
  background-size: cover;
  background-position: center;
}

header nav {
  padding: 20px 100px;
  -webkit-transition: position 0.5s, color 0.5s, background 0.5s;
  transition: position 0.5s, color 0.5s, background 0.5s;
}

header nav.stick {
  background: #27352a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 900;
}

header nav.stick h3 {
  display: inline-block;
  font-size: 3em;
  cursor: pointer;
}

header nav.stick ul .navlink {
  color: #bf97a1;
  -webkit-transition: border 0.3s;
  transition: border 0.3s;
}

header nav.stick ul .navlink:hover {
  border-bottom: 2px solid #bf97a1;
}

header nav .hamburger {
  display: none;
}

header nav .logo-container {
  display: inline-block;
}

header nav h3 {
  font-family: "Dyer";
  color: #bf97a1;
  display: none;
  cursor: pointer;
}

header nav ul {
  float: right;
}

header nav ul .navlink {
  display: inline-block;
  text-transform: uppercase;
  color: #222;
  font-weight: 300;
  margin-right: 20px;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
}

header nav ul .navlink .nl {
  font-weight: 400;
  padding-right: 5px;
}

header nav ul .navlink .en {
  padding-left: 5px;
  font-weight: 100;
}

.about-section {
  padding: 70px 0;
  z-index: 10;
}

.about-section .slideshow {
  margin-top: 50px;
  height: 600px;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
  background: url("../media/planten_bg.jpg");
  width: 80%;
  margin-left: 10%;
  position: relative;
}

.about-section .slideshow .buttons {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  bottom: 20px;
  height: 20px;
  width: 40px;
  grid-gap: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.about-section .slideshow .buttons .slideshowtracker {
  height: 16.5px;
  border: 1px solid #bf97a1;
  border-radius: 50px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  display: inline-block;
  cursor: pointer;
}

.about-section .slideshow .buttons .slideshowtracker:hover {
  background: #bf97a1;
}

.about-section .slideshow .buttons .slideshowtracker.active {
  background: #bf97a1;
}

.about-section .slideshow ion-icon {
  font-size: 3em;
  background: #fefefe;
  color: #bf97a1;
  cursor: pointer;
  opacity: 0.8;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  margin-top: 250px;
  border-radius: 50px;
}

.about-section .slideshow ion-icon:hover {
  opacity: 1;
}

.about-section .slideshow ion-icon.forward {
  float: right;
  margin-right: 10px;
}

.about-section .slideshow ion-icon.back {
  float: left;
  margin-left: 10px;
}

.about-section h3 {
  padding: 15px;
  text-align: center;
  color: #27352a;
  text-transform: capitalize;
  font-weight: 300;
  font-size: 2em;
  margin-bottom: 50px;
}

.about-section p {
  font-weight: 500;
}

.about-section .text-container {
  width: 80%;
  margin-left: 10%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}

.about-section .text-container > div p {
  margin-bottom: 15px;
}

.about-section .text-container .about-follow-us {
  padding: 20px 0;
}

.about-section .text-container .about-follow-us p {
  margin-bottom: 1px;
  font-weight: 800;
  text-decoration: underline;
}

.about-section .text-container .about-follow-us .linkcontainer {
  padding-top: 50px;
  padding-right: 50px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.about-section .text-container .about-follow-us .linkcontainer a {
  text-decoration: none;
}

.about-section .text-container .about-follow-us .linkcontainer p,
.about-section .text-container .about-follow-us .linkcontainer ion-icon {
  display: inline-block;
  color: #fff;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.about-section .text-container .about-follow-us .linkcontainer .facebook {
  width: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.about-section .text-container .about-follow-us .linkcontainer .facebook ion-icon {
  font-size: 2em;
  padding: 10px;
  background: #249acb;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.about-section .text-container .about-follow-us .linkcontainer .facebook p {
  padding: 15px;
  background: #29abe2;
  text-decoration: none;
  font-size: 1.05em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.about-section .text-container .about-follow-us .linkcontainer .facebook p:hover {
  background: #249acb;
}

.about-section .text-container .about-follow-us .linkcontainer .instagram {
  width: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
}

.about-section .text-container .about-follow-us .linkcontainer .instagram ion-icon {
  font-size: 2em;
  padding: 10px;
  background: #bf97a1;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.about-section .text-container .about-follow-us .linkcontainer .instagram p {
  padding: 15px;
  background: #e0a4c2;
  text-decoration: none;
  font-size: 1.05em;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.about-section .text-container .about-follow-us .linkcontainer .instagram p:hover {
  background: #bf97a1;
}

.menu-section {
  background-image: url("../media/planten_bg.jpg");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 100px;
}

.menu-section h3 {
  text-align: center;
  color: #fff;
  font-size: 2.5em;
  font-weight: 100;
  padding: 50px;
  text-shadow: 1px 1px 5px #555;
}

.menu-section .menucard {
  width: 80%;
  margin-left: 10%;
}

.menu-section .menucard .bigscreenmenu {
  width: 100%;
}

.menu-section .menucard .bigscreenmenu img {
  width: 100%;
}

.menu-section .menucard .smallscreenmenu {
  display: none;
}

.review-section {
  width: 100%;
  min-height: 80vh;
  padding-bottom: 100px;
}

.review-section a {
  color: #fff;
  padding: 10px;
  width: 160px;
  border-radius: 4px;
  background: #bf97a1;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
  text-decoration: none;
  margin-top: 150px;
  margin-left: 50%;
}

.review-section a:hover {
  background: #9c7b83;
}

.review-section h3 {
  text-align: center;
  padding: 100px 0 50px 0;
  font-size: 2.5em;
}

.review-section .reviewscontainer {
  width: 80%;
  margin-left: 10%;
  padding-bottom: 50px;
}

.review-section .reviewscontainer .review {
  margin-bottom: 50px;
  width: 60%;
  margin-left: 20%;
}

.review-section .reviewscontainer .review .imgname ion-icon,
.review-section .reviewscontainer .review .imgname .headerinfo {
  display: inline-block;
}

.review-section .reviewscontainer .review .imgname ion-icon {
  font-size: 2em;
  color: #bf97a1;
  margin-right: 10px;
}

.review-section .reviewscontainer .review .imgname .headerinfo {
  padding-bottom: 20px;
}

.review-section .reviewscontainer .review .imgname .headerinfo h5 {
  color: #bf97a1;
}

.review-section .reviewscontainer .review .imgname .headerinfo p {
  color: #777;
}

.maps-section {
  width: 100%;
  background: url("../media/maps.png");
  background-size: cover;
  background-position: center;
  height: 500px;
}

footer h3 {
  text-align: center;
  padding: 30px 0;
  font-size: 2.5em;
  color: #27352a;
}

footer .footercontainer {
  padding-bottom: 100px;
  width: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-left: 100px;
}

footer .footercontainer ul {
  list-style: none;
}

footer .footercontainer ul li {
  padding-bottom: 15px;
}

footer .footercontainer ul li a {
  text-decoration: none;
}

footer .footercontainer ul li h5 {
  font-weight: 600;
  text-decoration: underline;
  font-size: 1.3em;
}

footer .footercontainer ul li p {
  font-size: 1.3em;
  text-decoration: none;
  font-weight: 200;
}

footer .footercontainer ul li div {
  padding-top: 10px;
  display: -ms-grid;
  display: grid;
  width: 100px;
  -ms-grid-columns: 30px 30px;
      grid-template-columns: 30px 30px;
  grid-gap: 20px;
}

footer .footercontainer ul li div ion-icon {
  font-size: 2em;
  background: #bf97a1;
  color: #fff;
  border-radius: 4px;
  padding: 5px;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

footer .footercontainer ul li div ion-icon.instagram {
  background: #bf97a1;
}

footer .footercontainer ul li div ion-icon.instagram:hover {
  background: #a17f88;
}

footer .footercontainer ul li div ion-icon.facebook {
  background: #29abe2;
}

footer .footercontainer ul li div ion-icon.facebook:hover {
  background: #249acb;
}

footer .footerbar {
  background: #27352a;
  padding: 10px;
}

footer .footerbar h2 {
  font-size: 3em;
  padding-left: 100px;
  font-family: "Dyer";
  color: #bf97a1;
}

.backtotop {
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  position: fixed;
  font-size: 3em;
  top: 90%;
  right: 20px;
  background: #27352a;
  color: #bf97a1;
  line-height: 10px;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.backtotop.showbacktotop {
  opacity: 0.6;
}

.backtotop:hover {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */